{% extends './template.html' %}

{% block content %}

    {% include './partials/header.html' %}

    <div class="container gap-5">
        
    {% if request.path == '/' %}
        <!-- Index (listado) -->
        <div class="col-lg-4 col-md-12 col-sm-12 mt-4">
            <div class="col-12 d-flex justify-content-center">
                {% include './components/formInsert.html' %}
            </div>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 mt-4">
            <!-- Tabla de destinos turísticos -->
            {% include './components/table.html' %}
        </div>
        
        <div aria-live="polite" aria-atomic="true" class="position-relative">
            <div class="toast-container position-fixed bottom-0 end-0 p-3" id="toast-container">

            </div>
        </div>

        
    {% else %}
        <!-- Show (edicion)-->
        <div class="col-md-12 mt-4 text-center">
            <div class="col-12 d-flex justify-content-center">
                {% include './components/formEdit.html' %}
            </div>
        </div>
    {% endif %}     

    </div>
{% endblock %}