<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destiny App</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!-- Archivos estáticos -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>
    {% block content %}
    {% endblock %}
    <!-- Scripts estáticos -->
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>